body {
    font-family: Arial, Helvetica, sans-serif;
    background: #f0f3f7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    text-align: center;
}

h2 {
    margin-bottom: 5px;
    color: #34495e;
}

.sub {
    margin-bottom: 20px;
    color: #7f8c8d;
}

.login-box {
    background: white;
    padding: 80px;
    width: 280px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #ccc;
}

.login-box input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.login-box button {
    width: 100%;
    padding: 10px;
    background: #3498db;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 10px;
}

.error-msg {
    color: red;
    margin-top: 10px;
    height: 20px;
}

.dashboard-container {
    text-align: center;
    padding: 40px;
}

.opciones-grid {
    display: grid;
    grid-template-columns: repeat(2, 150px);
    gap: 15px;
    justify-content: center;
    margin-top: 20px;
}

.opciones-btn {
    padding: 15px;
    background: #3498db;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.opciones-btn:hover {
    background: #2980b9;
}

.logout-btn {
    margin-top: 30px;
    background: #e74c3c;
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.logout-btn:hover {
    background: #c0392b;
}

.page-container {
    text-align: center;
    padding: 30px;
}

.tabla {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
}

.tabla th, .tabla td {
    padding: 10px;
    border: 1px solid #ccc;
}

.tabla th {
    background: #3498db;
    color: white;

}

.back-btn {
    margin-top: 25px;
    background: #2ecc71;
    padding: 12px 25px;
    border: none;
    border-radius: 6px;
    color: white;
    cursor: pointer;
}

.back-btn:hover {
    background: #27ae60;
}

.page-container {
    text-align: center;
    padding: 30px;
}

.tabla {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
}

.tabla th, .tabla td {
    padding: 10px;
    border: 1px solid #ccc;
}

.tabla th {
    background: #3498db;
    color: white;
}

.back-btn {
    margin-top: 25px;
    background: #2ecc71;
    padding: 12px 25px;
    border: none;
    border-radius: 6px;
    color: white;
    cursor: pointer;
}

.back-btn:hover {
    background: #27ae60;
}

.page-container{
    text-align: center;
    padding: 30px;
}

.add-btn {
    margin-bottom: 20px;
    background: #16a085;
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.add-btn:hover {
    background: #1abc9c;
}

.tabla {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
}

.tabla th, .tabla td {
    padding: 10px;
    border: 1px solid #ccc;
}

.tabla th {
    background:  #3498db;
    color: white;
}

.back-btn {
    margin-top: 25px;
    background: #2ecc71;
    padding: 12px 25px;
    border: none;
    border-radius: 6px;
    color: white;
    cursor: pointer;
}

.back-btn:hover {
    background: #27ae60;
}